.welcome {
    display: flex;
    width: 100%;
    padding-top: 3rem;
    padding-bottom: 3rem;
    @include for-tablet-landscape-up {
        padding-left: 3rem;
        padding-right: 3rem;
    }
    padding-left: 0rem;
    padding-right: 0rem;
    .card-welcome {
        flex: 1 1 0%;
        width: 100%;
        overflow: hidden;
        .card-welcome-quotes {
            padding-top: 2rem;
            padding-bottom: 2rem;
            @include for-tablet-landscape-up {
                padding-left: 12rem;
                padding-right: 12rem;
            }
            padding-left: 0rem;
            padding-right: 0rem;
            text-align: center;
            .card-title {
                @include text-xl();
                font-weight: 600;
                color: $amber-500;
            }
            p {
                @include text-base();
                color: $gray-800;
                font-weight: 700;
                line-height: 1.625;
                letter-spacing: $tracking-wide;
            }
        }
    }
}